<p>login</p>
<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4 ">

      <div class="card">
        <div class="card-body login-card">
          <!-- <div class="alert alert-info">
           <strong>Normal User</strong> - U: user P: user
           <strong>Administrator</strong> - U: admin P: admin
       </div> -->
          <div class="form-container">
            <form (submit)="login(userData)">
              <div class="form-group">
                <label for="username">Username : </label>
                <input type="text" #u1 name="username" class="form-control" placeholder="Username" [(ngModel)]="userData.username">
              </div>
              <div class="form-group">
                <label for="password">Password : </label>
                <input type="password" #p2 name="password" class="form-control" placeholder="********" [(ngModel)]="userData.password">
                <div class="text-right forget-pass mt-3">
                  <a routerLink="/forget-password">Forget Password ?</a>
                </div>
              </div>
              <button (click)="check(u1.value, p2.value)">Login</button>
              <span>{{ msg }}</span>
            </form>
            <!-- <div class="text-center sign-up">
              Don`t have an account ? <a routerLink="/register">Sign Up</a>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
